nav {
  display: flex;
  justify-content: space-between;
  background-color: darkslateblue;
  padding: 20px;
  color: white
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 20px;
}

main {
  padding: 20px
}